body{
    background: #536976;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #292E49, #536976);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #292E49, #536976); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
#titlePage{
    color: aliceblue;
}
.accordion-body{
    background: #536976;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #292E49, #536976);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #292E49, #536976); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    ;
}
#buttonSesion{
    background-color: rgb(120, 115, 115);
    color: aliceblue;
}
.list-group-flush{
    background-color: #536976;
}
#pageActive{
    color: rgb(190, 190, 190);  
}
.pageInactive{
    color: rgb(255, 208, 0);
}
.textContent{
    color: aliceblue;
    text-align: justify;
    margin-top: 20px;
    line-height: 200%;
}